@import '../../../index';
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@media screen and (max-width: 1080px) {
	.main-navigation-header {
		display: none;
	}
}

.main-navigation-header {
	width: 1000px;
	height: 175px;
	position: relative;
	margin: 100px auto 50px;
	border: 2px solid $headerBorderColor;
	border-radius: 10px;
}

.main-navigation-header::before {
	content: '';
	position: absolute;
	background-image: url('/images/iggy.jpg');
	background-position: center;
	background-repeat: no-repeat;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.6;
	z-index: -1;
}

.main-navigation-header h1 {
	font-family: 'Concert One', cursive;
	text-align: left;
	margin-left: 1em;
	font-size: 3rem;
	color: orange;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
}
