@import '../../../../index';

@media screen and (min-width: 1081px) {
	.collections-create-new-animal {
		padding: 20px;
	}

	.img-preview {
		display: grid;
		grid-template-columns: auto auto auto auto auto auto;
	}

	.img-preview img {
		width: 100px;
	}

	.collections-create-new-animal-img-drop-preview {
		text-align: center;
	}

	.collections-create-new-animal-img-drop-dropbox {
		width: 60%;
		padding: 3px;
		border-radius: 10px;
		border: 2px solid $borderColor;
		background-color: $panelBodyColor;
		margin: 1em auto;
	}

	.collections-create-new-animal-button {
		width: 80px;
		margin: 2em 2em 1em auto;
	}
}

@media screen and (max-width: 1080px) {
	.collections-create-new-animal {
		padding: 20px;
	}

	.collections-create-new-animal-img-drop-preview {
		margin-top: 1em;
		text-align: center;
	}

	.img-preview {
		display: grid;
		grid-template-columns: auto auto;
	}

	.img-preview img {
		width: 100px;
	}

	.collections-create-new-animal-img-drop-dropbox {
		width: 60%;
		padding: 3px;
		border-radius: 10px;
		border: 2px solid $borderColor;
		background-color: $panelBodyColor;
		margin: auto;
	}

	.collections-create-new-animal-button {
		margin: 1em 1em auto auto;
		width: 80px;
	}
}