@import '../../../../../../index';

.collections-feeding-table-tr:hover {
	cursor: pointer;
}

@media screen and (min-width: 1081px) {
	.collections-feedings-new-feeding-form {
		margin-bottom: 1em;
	}

	.collections-feedings-new-feeding {
		margin: auto;
		//width: 90%;
	}
}

@media screen and (max-width: 1080px) {
	.collections-feedings-new-feeding-form {
		margin-bottom: 1em;
	}

	.collections-feedings-new-feed-form-para {
		padding: 0 4px 0 0;
		font-size: 1.2em;
	}
}
