@import '../../../../../index';

.my-profile-main {
	margin-bottom: 2rem;
}

.my-profile-main-profile-image {
	max-width: 160px;
	cursor: pointer;
}

.my-profile-main-nav {
	background-color: $themeColor;
	padding: 0 10px;
	color: black;
}

.my-profile-main-nav a {
	color: black;
}