@import '../../../../index';

.view-shame-incident-description {
	padding: 10px;
}

.wall-of-shame-user-report-comment {
	width: 94%;
	margin: 1em auto;
	border: 1px solid orange;
	border-radius: 7px;
	padding: 10px;
}

.wall-of-shame-user-report-comment-button {
	margin: 1em auto;
	text-align: right;
}

.wall-of-shame-user-leave-comment {
	margin: 1em auto;
}

.wall-of-shame-report {
	padding-bottom: 6em;
}