@media screen and (min-width: 1081px) {
	.profile-activity {
		margin-bottom: 2em;
	}

	.main-body {
		margin-left: 1em;
		width: 98%;
		// height: 100vh;
		background-color: $bodyPanelColor;
		border: 1px solid lightgreen;
		// display: grid;
		// grid-template-columns: .1fr 1fr .1fr;
		// grid-template-rows: 1fr 0.11fr 4fr 0.25fr;
		// grid-template-areas:
		//   "head head head"
		//   "toolbar toolbar toolbar"
		//   "body body body"
		//   "footer footer footer";
	}

	.head {
		grid-area: head;
	}

	.post-message-box {
		//background-color: rgba(253, 253, 253, 0.253);
		border: none;
		width: 100%;
		margin: auto;
		height: 200px;
	}

	.btn-box {
		width: 100%;
		margin-bottom: 3em;
	}

	.btn {
		margin: auto;
	}

	.toolbar li {
		display: inline;
	}

	.toolbar {
		color: white;
		background-color: green;
		grid-area: toolbar;
		text-align: center;
		height: 100%;
	}

	.toolbar a {
		color: white;
		text-decoration: none;
		padding: 0 6px;
	}

	.toolbar a:hover {
		color: red;
	}

	.toolbar a:active {
		background-color: darkgreen;
	}

	.left-nav {
		grid-area: left-nav;
	}

	.body {
		grid-area: body;
		padding: 1em 2em;
	}

	.footer {
		grid-area: footer;
	}

	.profile-image {
		margin: 0.4em;
		z-index: 2;
	}

	.profile-image img {
		max-width: 150px;
		border: 2px solid limegreen;
		border-radius: 50%;
		margin: auto;
		text-align: center;
	}

	.user-posts {
		//border-radius: 20px;
		width: 100%;
		padding: 1em;
		margin: 10px 0;
		background-color: $bodyPanelColor;
		border: 2px solid limegreen;
		display: grid;
		grid-template-columns: 0.5fr 1fr 1fr;
		grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
		grid-template-areas:
			'image user date'
			'body body body'
			'toolbar toolbar toolbar'
			'comment comment comment';
	}

	.post-body {
		white-space: pre-line;
		padding-top: 0.5em;
		border-top: 0.5px solid lightgrey;
		grid-area: body;
	}

	.post-date {
		height: 30px;
		margin-bottom: 1em;
		text-align: right;
		grid-area: date;
	}
	.post-image {
		height: 30px;
		margin-bottom: 1em;
		text-align: left;
		grid-area: image;
	}

	.post-image img {
		max-width: 50px;
		border-radius: 50%;
	}

	.post-user {
		height: 30px;
		text-align: left;
		grid-area: user;
	}
	.post-toolbar {
		text-align: right;
		grid-area: toolbar;
	}
	.post-linesaver {
		text-align: right;
		grid-area: linesaver;
	}

	// .post-comment-box {
	//   width: 100%;
	//   grid-area: comment;
	// }

	.post-comment {
		width: 100%;
		grid-area: comment;
	}

	.post-comment input {
		//background-color: rgba(253, 253, 253, 0.253);
		border: none;
		width: 100%;
	}
}
