@import '../../../../../index';

.edit-profile-switch-input {
	margin: 1em auto 1em 2em;
}

.Modal {
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	background-color: white;
	//text-align: center;
	padding: 10px;
}

.Overlay {
	position: fixed;
	top: 35%;
	left: 30%;
	right: 30%;
	bottom: 60%;
}

@media screen and (min-width: 1081px) {
	.profile-edit-form-main {
		width: 95%;
		margin: auto;
		position: relative;
	}

	.edit-profile-entity-title {
		margin: 3em auto 2em;
	}

	.edit-profile-business-title {
		margin: 3em auto 1em;
	}

	.edit-profile-business-footer {
		margin: 3em auto;
	}

	.edit-profile-submit-button {
		margin: 1em auto;
	}
}

@media screen and (max-width: 1080px) {
	.profile-edit-form-main {
		width: 95%;
		margin: auto;
		position: relative;
	}

	.edit-profile-entity-title {
		margin: 3em auto 2em;
	}

	.edit-profile-business-title {
		margin: 3em auto 1em;
	}

	.edit-profile-business-footer {
		margin: 2em auto;
	}

	.edit-profile-submit-button {
		margin: 1em auto;
	}
}
