/*
    Color section to define the colors used in the entire app.
*/
@media screen and (min-width: 900px) {
  .ql-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 100%;
    margin: 0px;
    position: relative;
  }
  .edit-profile-form {
    width: 98%;
    text-align: center;
    margin: auto;
  }
  .edit-profile-entity-info {
    width: 100%;
    margin: 1em auto 2em;
    padding: 0 0 0 6px;
    text-align: left;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'firstName firstName lastName lastName' 'entityPhone entityPhone entityPhoneType entityPhoneType' 'displayEntityPhone displayEntityPhone . .' 'entityEmail entityEmail entityEmailType displayEntityEmail' 'entityStreet entityStreet entityCity entityCity' 'entityState entityState entityZip entityZip';
  }
  .edit-profile-entity-info input {
    margin-bottom: 10px;
  }
  .edit-profile-entity-info select {
    margin-bottom: 10px;
    width: 75px;
  }
  .edit-profile-form-name-first {
    margin: 0 auto 1em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: firstName;
  }
  .edit-profile-form-name-last {
    margin: 0 auto 1em;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: lastName;
  }
  .edit-profile-form-entityEmail {
    margin: 0 auto 1em;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: entityEmail;
  }
  .edit-profile-form-entity-phone-number {
    margin: auto;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: entityPhone;
  }
  .edit-profile-form-entity-phone-type {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: entityPhoneType;
  }
  .edit-profile-form-display-entity-phone {
    margin: 0 auto 1em;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: displayEntityPhone;
  }
  .edit-profile-form-display-entity-email {
    margin: 0 auto 1em;
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    grid-area: displayEntityEmail;
  }
  .edit-profile-form-entity-email-type {
    margin: 0 auto 1em;
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: entityEmailType;
  }
  .edit-profile-form-entity-street {
    margin: auto;
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: entityStreet;
  }
  .edit-profile-form-entity-city {
    margin: auto;
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: entityCity;
  }
  .edit-profile-form-entity-state {
    margin: auto;
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: entityState;
  }
  .edit-profile-form-entity-zip {
    margin: auto;
    -ms-grid-row: 6;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: entityZip;
  }
  .edit-profile-form-business-info {
    width: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'businessName . . businessPhone' 'businessWebsite . . .' '. displayBusinessAddress displayBusinessAddress .' 'businessStreet . . businessCity' 'businessState . . businessZip' 'businessFooter businessFooter businessFooter businessFooter';
  }
  .edit-profile-form-is-business {
    grid-area: isBusiness;
  }
  .edit-profile-form-businessName {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: businessName;
  }
  .edit-profile-form-businessPhone {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: businessPhone;
  }
  .edit-profile-form-businessWebsite {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: businessWebsite;
  }
  .edit-profile-form-displayBusinessAddress {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: displayBusinessAddress;
  }
  .edit-profile-form-businessStreet {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: businessStreet;
  }
  .edit-profile-form-businessCity {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    grid-area: businessCity;
  }
  .edit-profile-form-businessState {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: businessState;
  }
  .edit-profile-form-businessZip {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
    grid-area: businessZip;
  }
  .edit-profile-form-businessFooter {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: businessFooter;
    margin-top: 2em;
  }
  .edit-profile-form-button {
    width: 160px;
    margin: 10px 10px 10px auto;
  }
  .edit-profile-form button {
    width: 160px;
  }
}

@media screen and (max-width: 899px) {
  .ql-container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 100%;
    margin: 0px;
    position: relative;
  }
  .edit-profile-form {
    width: 98%;
    text-align: center;
    margin: auto;
  }
  .edit-profile-entity-info {
    width: 100%;
    margin: 1em auto 2em;
    padding: 0 0 0 6px;
    text-align: left;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'firstName firstName lastName lastName' 'entityPhone entityPhone entityPhoneType entityPhoneType' 'displayEntityPhone displayEntityPhone . .' 'entityEmail entityEmail entityEmailType displayEntityEmail' 'entityStreet entityStreet entityCity entityCity' 'entityState entityState entityZip entityZip';
  }
  .edit-profile-entity-info input {
    margin-bottom: 10px;
  }
  .edit-profile-entity-info select {
    margin-bottom: 10px;
    width: 75px;
  }
  .edit-profile-form-name-first {
    margin: 0 auto 1em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: firstName;
  }
  .edit-profile-form-name-last {
    margin: 0 auto 1em;
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: lastName;
  }
  .edit-profile-form-entityEmail {
    margin: 0 auto 1em;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: entityEmail;
  }
  .edit-profile-form-entity-phone-number {
    margin: auto;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: entityPhone;
  }
  .edit-profile-form-entity-phone-type {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: entityPhoneType;
  }
  .edit-profile-form-display-entity-phone {
    margin: 0 auto 1em;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: displayEntityPhone;
  }
  .edit-profile-form-display-entity-email {
    margin: 0 auto 1em;
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    grid-area: displayEntityEmail;
  }
  .edit-profile-form-entity-email-type {
    margin: 0 auto 1em;
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: entityEmailType;
  }
  .edit-profile-form-entity-street {
    margin: auto;
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: entityStreet;
  }
  .edit-profile-form-entity-city {
    margin: auto;
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: entityCity;
  }
  .edit-profile-form-entity-state {
    margin: auto;
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: entityState;
  }
  .edit-profile-form-entity-zip {
    margin: auto;
    -ms-grid-row: 6;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: entityZip;
  }
  .edit-profile-form-business-info {
    width: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'businessName . . businessPhone' 'businessWebsite . . .' '. displayBusinessAddress displayBusinessAddress .' 'businessStreet . . businessCity' 'businessState . . businessZip' 'businessFooter businessFooter businessFooter businessFooter';
  }
  .edit-profile-form-is-business {
    grid-area: isBusiness;
  }
  .edit-profile-form-businessName {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: businessName;
  }
  .edit-profile-form-businessPhone {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: businessPhone;
  }
  .edit-profile-form-businessWebsite {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: businessWebsite;
  }
  .edit-profile-form-displayBusinessAddress {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: displayBusinessAddress;
  }
  .edit-profile-form-businessStreet {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: businessStreet;
  }
  .edit-profile-form-businessCity {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    grid-area: businessCity;
  }
  .edit-profile-form-businessState {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: businessState;
  }
  .edit-profile-form-businessZip {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
    grid-area: businessZip;
  }
  .edit-profile-form-businessFooter {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: businessFooter;
    margin-top: 2em;
  }
  .edit-profile-form-button {
    width: 160px;
    margin: 10px 10px 10px auto;
  }
  .edit-profile-form button {
    width: 160px;
  }
}
/*# sourceMappingURL=EditProfile.css.map */