@import '../../../../index';

// ** Message Display Section **
.message-list {
	display: flex;
	border: 0.5px solid $borderColor;
	text-align: left;
	width: 98%;
	color: black;
	font-size: 0.9em;
	margin: 2px auto;
	background-color: $bodyPanelColor;
}

.message-list-subject {
	margin: 0 5px 0 3px;
	width: 10%;
}

.message-list-link {
	//margin: 0 1em;
	width: 40%;
}

.message-list-date {
	width: 40%;
}

// ** Message Read Section **
.message-display-pane {
	width: 98%;
	margin: auto;
}

.message-display-subject {
	margin: 3px 0 0 3px;
}

.message-display-body {
	margin: 0 1em 1em 1em;
}

.message-display-footer {
	// display: flex;
	margin: 3px 0 1em 3px;
}

.display-message-buttons {
	width: 40%;
}

.display-message-buttons button {
	width: 60px;
}

.message-reply-form-group {
	// max-height: 400px;
	width: 100%;
	overflow: hidden;
}

.message-reply-button {
	margin: 1em 1em 1em auto;
}

// .ql-editor {
// 	max-width: 686px;
// }
