@import '../../../../../../index';

@media screen and (min-width: 1081px) {
	.collections-sheddings-new-shedding-form {
		margin: 1em auto;
	}
	.collections-sheddings-list-button {
		margin: 0.5em auto;
		padding-right: 40px;
		text-align: right;
		position: relative;
	}

	.collections-sheddings-new-shedding {
		margin: auto;
		//width: 80%;
	}

	.collections-sheddings-new-shedding-date-desktop-selector {
		display: block;
	}

	.collections-sheddings-new-shedding-date-mobile-selector {
		display: none;
	}
}

@media screen and (max-width: 1080px) {
	.collections-sheddings-new-shedding-form {
		margin-bottom: 1em;
	}

	.collections-sheddings-new-shed-form-para {
		padding: 0 4px 0 0;
		font-size: 1.2em;
	}

	.collections-sheddings-list-button {
		margin: 0.5em auto;
		padding-right: 40px;
		text-align: right;
		position: relative;
	}

	.collections-sheddings-new-shedding input {
		font-size: 1em;
	}

	.collections-sheddings-new-shedding-date-desktop-selector {
		display: none;
	}

	.collections-sheddings-new-shedding-full-shed-selector select {
		font-size: 1em;
	}
}
