

// Start Animal
.collections-animal-page {
    padding: 10px;
}

.collection-animal-img-info {
    display: grid;
    grid-template-areas:
    'img info';
    margin-bottom: 1em;
    
}

.collection-animal-common-info {
    display: grid;
    grid-template-areas:
    'name sex'
    'id dob'
    'sire dam';
    //width: 200px;
    margin-bottom: 8px;
    grid-area: info;
}

.collection-animal-name {
    width: 200px;
    grid-area: name;
}
.collection-animal-name input {
    width: 200px;
}

.collection-animal-id {
    width: 200px;
    grid-area: id;
}
.collection-animal-id input {
    width: 200px;
}

.collection-animal-dob {
    grid-area: dob;
    width: 200px;
}
.collection-animal-dob input{
    width: 100px;
}

.collection-animal-sire {
    width: 200px;
    grid-area: sire;
}
.collection-animal-sire span {
    width: 2em;
    text-align: right;
    font-size: .7rem;
    color: blue;
    cursor: pointer;
}
.collection-animal-sire input {
    width: 200px;
}

.collection-animal-dam {
    width: 200px;
    grid-area: dam;
}

.collection-animal-dam span {
    width: 2em;
    text-align: right;
    font-size: .7rem;
    color: blue;
    cursor: pointer;
}

.collection-animal-dam input {
    width: 200px;
}

.collection-animal-gender {
    width: 200px;
}
.collection-animal-comment {
    width: 200px;
}

.collection-animal-body {
    width: 100%;
}

.collections-animal-quick-records {
    //margin: 1em 0;
    margin-bottom: 1em;
}

.collections-animal-quick-records-data {
    padding-left: 1em;
    font-size: .8rem;
}


// End Animal



.collections-tab-header {
    border-color: orange;
}

.collections-tab-body {
    //padding: 10px;
}



.react-tabs__tab--selected {
    border-color: orange;
}

.react-tabs__tab-list {
    border-color: orange;
}



.collections-animal-page img {
    width: 200px;

}

.collections-pairing-table {
    
}

table {
    border-collapse: collapse;
  width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  