.collections-tab-header {
    border-color: orange;
}

.collections-tab-body {
    padding: 10px;
}

.collections-tab-body img {
}

.react-tabs__tab--selected {
    border-color: orange;
}

.react-tabs__tab-list {
    border-color: orange;
}

.collections-animal-page {
    display: flex;
    justify-content: space-between;
}

.collections-animal-page img {
    width: 200px;

}

.collections-pairing-table {
    
}

table {
    border-collapse: collapse;
  width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }