.collections-tab-header {
    border-color: orange;
}

.collections-tab-body {
    padding: 10px;
}

.collections-tab-body img {
}

.react-tabs__tab--selected {
    border-color: orange;
}

.react-tabs__tab-list {
    border-color: orange;
}

.collections-animal-page img {
    width: 200px;

}