@import '../../../index';



/*
## Current classNames
my-collections-collection-container
my-collections-collection-container-image
my-collections-collection-container-table
my-collections-quick-filters
my-collections-quick-filters-select
my-collections-quick-filters-select-clear
my-collections-collections
my-collections-qr-search
my-collections-collections-active-list
*/

@media screen and (max-width: 1080px) {
	.my-collections-collection-container {
		border: 1px solid $borderColor;
		margin: 10px auto;
		width: 98%;
		height: 90px;
		display: flex;
		border-radius: 7px;
	}

	.my-collections-collection-container:hover {
		background-color: $lightBlue;
		cursor: pointer;
	}

	.my-collections-collection-container-image {
		text-align: center;
		margin: auto auto auto 0.4em;
	}

	.my-collections-collection-container-image img {
		max-height: 4em;
		border-radius: 3px;
	}

	.my-collections-collection-container-table {
		color: black;
		text-align: center;
		vertical-align: baseline;
		width: 85%;
		margin: auto;
	}

	.my-collections-quick-filters {
		margin: 0.5em auto 1em;
		width: 90%;
	}

	.my-collections-quick-filters-select-clear {
		width: 100px;
		margin: 1em 6.5em 1em auto;
		cursor: pointer;
		background-color: $borderColor;
		border-radius: 3px;
		text-align: center;
		border: 0.5px solid $borderColor;
	}

	.my-collections-quick-filters-select-clear:hover {
		background-color: rgb(255, 136, 0);
		border: 0.5px solid red;
	}	

	.my-collections-qr-search img {
		width: 40px;
	}
	
	.my-collections-qr-search {
		text-align: right;
		padding-right: 20px;
		margin: auto;
	}
}

@media screen and (min-width: 1081px) {
	.my-collections-collection-container {
		border: 1px solid $borderColor;
		margin: 10px auto;
		width: 98%;
		height: 90px;
		display: flex;
		border-radius: 7px;
	}

	.my-collections-collection-container:hover {
		background-color: $lightBlue;
		cursor: pointer;
	}

	.my-collections-collection-container-image {
		text-align: center;
		margin: auto auto auto 0.4em;
	}

	.my-collections-collection-container-image img {
		max-height: 4em;
		border-radius: 3px;
	}

	.my-collections-collection-container-table {
		color: black;
		text-align: center;
		vertical-align: baseline;
		width: 85%;
		margin: auto;
	}

	.my-collections-quick-filters-select-clear {
		width: 100px;
		margin: 1em 6.5em 1em auto;
		cursor: pointer;
		background-color: $borderColor;
		border-radius: 3px;
		text-align: center;
		border: 0.5px solid $borderColor;
	}

	.my-collections-quick-filters-select-clear:hover {
		background-color: rgb(255, 136, 0);
		border: 0.5px solid red;
	}

	.my-collections-qr-search {
		display: none;
	}

	.my-collections-quick-filters {
		margin: 0.5em auto 1em;
		width: 90%;
	}
	
}
