@import '../../../index';

@media screen and (max-width: 1080px) {
	.my-collections-collection-container {
		border: 1px solid $borderColor;
		margin: 10px auto;
		width: 98%;
		height: 90px;
		display: flex;
		border-radius: 7px;
	}
	
	.my-collections-collection-container:hover {
		background-color: $lightBlue;
		cursor: pointer;
	}
	
	.my-collections-collection-container-image {
		text-align: center;
		margin: auto auto auto 0.4em;
	}
	
	.my-collections-collection-container-image img {
		max-height: 4em;
		border-radius: 3px;
	}
	
	.my-collections-collection-container-table {
		color: black;
		text-align: center;
		vertical-align: baseline;
		width: 85%;
		margin: auto;
	}

	.my-collections-collection-container-table th {
		width: 80px;
	}
	
	.my-collections-quick-filters {
		margin: .5em auto 1em;
		// border: 1px solid $borderColor;
		// border-radius: 7px;
		width: 90%;
	}
	
	// .my-collections-quick-filters-select {
	// 	display: flex;
	// 	justify-content: space-evenly;
	// 	//display: grid;
	// 	//grid-template-columns: auto auto;
	// 	//text-align: center;
	// 	//justify-content: space-around;
	// 	margin: .5em auto 2em;
	// }
	
	.my-collections-quick-filters-select-clear {
		width: 100px;
		margin: 1em 6.5em 1em auto;
		cursor: pointer;
		background-color: $borderColor;
		border-radius: 3px;
		text-align: center;
		border: 0.5px solid $borderColor;
	}
	
	.my-collections-quick-filters-select-clear:hover {
		background-color: rgb(255, 136, 0);
		border: 0.5px solid red;
	}
	
	// .my-collections-quick-filters select {
	// 	// background-color: $borderColor;
	// 	font-size: 1em;
	// 	border: 1px solid $borderColor;
	// }
	
}

@media screen and (min-width: 1081px) {
	.my-collections-collection-container {
		border: 1px solid $borderColor;
		margin: 10px auto;
		width: 98%;
		height: 90px;
		display: flex;
		border-radius: 7px;
	}
	
	.my-collections-collection-container:hover {
		background-color: $lightBlue;
		cursor: pointer;
	}
	
	.my-collections-collection-container-image {
		text-align: center;
		margin: auto auto auto 0.4em;
	}
	
	.my-collections-collection-container-image img {
		max-height: 4em;
		border-radius: 3px;
	}
	
	.my-collections-collection-container-table {
		color: black;
		text-align: center;
		vertical-align: baseline;
		width: 85%;
		margin: auto;
	}
	
	.my-collections-quick-filters {
		//margin: .5em auto 1em;
		//border: 1px solid $borderColor;
		//border-radius: 7px;
		//width: 90%;
	}
	
	// .my-collections-quick-filters-select {
	// 	display: flex;
	// 	justify-content: space-evenly;
	// 	//display: grid;
	// 	//grid-template-columns: auto auto;
	// 	//text-align: center;
	// 	//justify-content: space-around;
	// 	margin: .5em auto 2em;
	// }
	
	.my-collections-quick-filters-select-clear {
		width: 100px;
		margin: 1em 6.5em 1em auto;
		cursor: pointer;
		background-color: $borderColor;
		border-radius: 3px;
		text-align: center;
		border: 0.5px solid $borderColor;
	}
	
	.my-collections-quick-filters-select-clear:hover {
		background-color: rgb(255, 136, 0);
		border: 0.5px solid red;
	}
	
	// .my-collections-quick-filters select {
	// 	// background-color: $borderColor;
	// 	font-size: 1em;
	// 	border: 1px solid $borderColor;
	// }	
}