@import '../../../../../../index';

.collections-weight-table-tr:hover {
	cursor: pointer;
	background-color: $lightBlue;
}

.collections-weight-table th {
	//width: 33%;
	font-size: 1.2em;
}
.collections-weight-table td {
	//width: 20%;
	font-size: 1.3em;
}

@media screen and (min-width: 840px) {
	.collections-weights-list-button {
		margin: 0.5em auto;
		padding-right: 40px;
		text-align: right;
		position: relative;
	}

	.collections-weight-new-weighing {
		display: flex;
		justify-content: space-evenly;
		margin: auto;
		width: 80%;
	}

	.collections-weight-date-desktop-selector {
		display: block;
	}

	.collections-weight-date-mobile-selector {
		display: none;
	}
}

@media screen and (min-width: 700px) and (max-width: 839px) {
	.collections-weights-list-button {
		margin: 1em auto 2em;
		padding-right: 40px;
		text-align: center;
	}

	.collections-weights-new-weight {
		width: 50%;
		margin: auto;
		//display: flex;
		//justify-content: space-evenly;
	}

	.collections-weights-new-weight input {
		margin: 3px auto;
	}
}

@media screen and (max-width: 699px) {
	.collections-weights-new-weight-form {
		margin-bottom: 1em;
	}

	.collections-weights-new-shed-form-para {
		padding: 0 4px 0 0;
		font-size: 1.2em;
	}

	.collections-weights-list-button {
		margin: 0.5em auto;
		padding-right: 40px;
		text-align: right;
		position: relative;
	}

	.collections-weights-new-weight input {
		font-size: 1em;
	}

	.collections-weights-new-weight-date-desktop-selector {
		display: none;
	}

	.collections-weights-new-weight-full-shed-selector select {
		font-size: 1em;
	}
}
