@import '../../../../index';

@media screen and ($minWidth) {
	.list-info {
		display: grid;
		grid-template-areas:
			'price listId'
			'gender listWeight'
			'footer footer'
			'description description'
			'businessFooter businessFooter';
	}

	.list-box {
		color: black;
		margin: 1em auto;
	}

	.list-box-inner {
		display: flex;
	}

	.list-box-inner-table-data {
		width: 60%;
		margin: auto;
	}

	.list-box a {
		color: black;
	}

	.list-box a:hover {
		font-weight: bold;
	}

	.list-title {
		font-weight: bold;
		text-align: center;
		background-color: $borderColor;
		color: black;
		padding: 0.4em 0;
	}

	.list-description {
		width: 96%;
		margin: 2em auto 0.1px;
		grid-area: description;
	}

	.list-description-businessFooter {
		margin: 1em auto 4em;
		width: 96%;
		grid-area: businessFooter;
	}

	.list-images {
		display: grid;
		grid-template-columns: auto auto auto;
		text-align: center;
		margin: auto;
		padding: 0.4em 0;
	}

	.list-images a {
		text-align: center;
	}

	.list-images img {
		width: 150px;
		text-align: center;
	}

	.list-footer {
		margin: 10px 0 1em;
		font-weight: bold;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		grid-area: footer;
	}

	.list-price-gender {
		margin: 0.5em auto;
		text-align: center;
		grid-area: gender;
	}

	.list-price {
		margin: 0.5em auto;
		text-align: center;
		grid-area: price;
	}

	.list-price label {
		font-weight: bold;
	}

	.list-gender {
		margin: 0.5em auto;
		text-align: center;
	}

	.list-weight {
		margin: 0.5em auto;
		text-align: center;
		grid-area: listWeight;
	}

	.list-weight label {
		font-weight: bold;
	}

	.list-user-list-id label {
		font-weight: bold;
	}
	.list-user-list-id {
		text-align: center;
		grid-area: listId;
	}

	.list-gender label {
		font-weight: bold;
	}

	.classified-listing-picture-display-gray-back {
		top: 0;
		left: 0;
		position: absolute;
		z-index: 300;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.829);
	}

	.classified-listing-picture-display {
		z-index: 400;
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 150px;
		left: 250px;
	}

	.classified-listing-picture-display img {
		max-height: 600px;
		border-radius: 3px;
	}

	button {
		border: 1px solid $panelBodyColor;
		background-color: $borderColor;
		width: 300px;
		height: 30px;
		font-weight: bold;
	}

	.classified-listing-seller-other {
		color: black;
	}

	.classified-listing-seller-other a {
		color: blue;
	}
}
@media screen and (max-width: 699px) {
	.list-box {
		width: 98%;
		color: black;
		border: solid 1px $borderColor;
		margin: 1em auto;
	}

	.list-info {
		width: 100%;
		//display: grid;
		grid-template-areas:
			'price listId'
			'gender listWeight'
			'footer footer'
			'description description'
			'businessFooter businessFooter';
	}

	.list-box-inner-table-data {
		width: 98%;
		margin: auto;
	}

	.classified-listing-thumbnail-images {
		text-align: center;
	}

	.list-box a {
		color: black;
	}

	.list-box a:hover {
		color: red;
		font-weight: bold;
	}

	.list-title {
		font-weight: bold;
		text-align: center;
		background-color: $borderColor;
		color: black;
		padding: 0.4em 0;
		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}

	.list-description {
		width: 96%;
		margin: 2em auto 0.1px;
		grid-area: description;
	}

	.list-description img {
		max-width: 98%;
	}

	.list-images {
		margin: 1em;
	}

	.list-images a {
		text-align: center;
	}

	.list-images img {
		width: 100px;
		text-align: center;
	}

	.list-footer {
		margin: 10px 0 1em;
		font-weight: bold;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		grid-area: footer;
	}

	.list-weight {
		margin: 0.5em auto;
		text-align: center;
		grid-area: listWeight;
	}

	.list-weight label {
		font-weight: bold;
	}

	.list-price {
		margin: 0.5em auto;
		text-align: center;
		grid-area: price;
	}

	.list-price label {
		font-weight: bold;
	}

	.list-gender {
		margin: 0.5em auto;
		text-align: center;
		grid-area: gender;
	}

	.list-user-list-id label {
		font-weight: bold;
	}
	.list-user-list-id {
		margin: 0.5em auto;
		text-align: center;
		grid-area: listId;
	}

	.list-gender label {
		font-weight: bold;
	}

	.classified-listing-picture-display-gray-back {
		top: 0;
		left: 0;
		position: absolute;
		z-index: 300;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.829);
	}

	.classified-listing-picture-display {
		z-index: 400;
		width: 100%;
		height: 100%;
		position: absolute;
	}

	.classified-listing-picture-display img {
		margin-top: 30%;
		text-align: center;
		width: 100%;
	}

	button {
		border: 1px solid $panelBodyColor;
		background-color: $borderColor;
		width: 300px;
		height: 30px;
		font-weight: bold;
	}
}
