/*
    Color section to define the colors used in the entire app.
*/
.collections-animal-page {
  padding: 10px;
}

.collection-animal-img-info {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'img info';
  margin-bottom: 1em;
}

.collection-animal-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
}

.collection-animal-common-info {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'name gender' 'id dob' 'sire dam';
  margin-bottom: 8px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info;
}

.collection-animal-name {
  width: 200px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

.collection-animal-name input {
  width: 200px;
}

.collection-animal-id {
  width: 200px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: id;
}

.collection-animal-id input {
  width: 200px;
}

.collection-animal-dob {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: dob;
  width: 200px;
}

.collection-animal-dob input {
  width: 100px;
}

.collection-animal-sire {
  width: 200px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sire;
}

.collection-animal-sire span {
  width: 2em;
  text-align: right;
  font-size: .7rem;
  color: blue;
  cursor: pointer;
}

.collection-animal-sire input {
  width: 200px;
}

.collection-animal-dam {
  width: 200px;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: dam;
}

.collection-animal-dam span {
  width: 2em;
  text-align: right;
  font-size: .7rem;
  color: blue;
  cursor: pointer;
}

.collection-animal-dam input {
  width: 200px;
}

.collection-animal-gender {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: gender;
  width: 200px;
}

.collection-animal-comment {
  width: 200px;
}

.collection-animal-body {
  width: 100%;
}

.collections-animal-quick-records {
  margin-bottom: 1em;
}

.collections-animal-quick-records-data {
  padding-left: 1em;
  font-size: .8rem;
}

.collections-create-new-animal {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'new-animal-form' 'new-animal-images' 'footer';
}

.collections-create-new-animal-images {
  margin: 3em auto;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: new-animal-images;
}

.collections-create-new-animal-form {
  width: 75%;
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: new-animal-form;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'create-name create-dob' 'create-sire create-dam' '... create-gender' 'category ...' 'sub-category ...';
}

.collections-create-new-animal-footer {
  margin: auto 5em 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  text-align: right;
  padding-right: 5em;
}

.collections-create-new-animal-form input {
  margin: 5px 0;
}

.collections-create-new-animal-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: create-name;
  width: 200px;
}

.collections-create-new-animal-dob {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: create-dob;
}

.collections-create-new-animal-sire {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: create-sire;
}

.collections-create-new-animal-dam {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: create-dam;
}

.collections-create-new-animal-gender {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: create-gender;
}

.collections-create-new-animal-button {
  grid-area: create-button;
  padding: 8px;
}

.collections-create-new-animal-button button {
  width: 80px;
}

.collections-create-new-animal-img-drop-dropbox {
  width: 60%;
  padding: 3px;
  border-radius: 10px;
  border: 2px solid orange;
  background-color: #cce2f8;
  margin: auto;
}

.img-preview img {
  width: 100px;
}

.collections-create-new-animal-category {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: category;
  margin-bottom: 8px;
}

.collections-create-new-animal-sub-category {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: sub-category;
}

.collections-tab-header {
  border-color: orange;
}

.react-tabs__tab--selected {
  border-color: orange;
}

.react-tabs__tab-list {
  border-color: orange;
}

.collections-animal-page img {
  width: 200px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: .7rem;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.collections-animal-more-images {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.collections-animal-more-images img {
  width: 100px;
  cursor: pointer;
}

.collections-my-collections-list td:hover {
  cursor: pointer;
}

.collections-my-collections-list tr:hover {
  background-color: #cce2f8;
}
/*# sourceMappingURL=Collections.css.map */