/*
    Color section to define the colors used in the entire app.
*/
.collection-edit-record-main-panel {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: white;
  color: black;
  border: 1px solid orange;
  padding: 0px;
}

.nav-link {
  color: black;
  font-weight: bold;
}

.body-main-header {
  position: relative;
}

.body-main-header h4 {
  margin-bottom: 0;
}

@media screen and (min-width: 1081px) {
  .collection-animal-comment {
    width: 200px;
  }
  .collections-tab-header {
    border-color: orange;
  }
  .react-tabs__tab--selected {
    border-color: orange;
  }
  .react-tabs__tab-list {
    border-color: orange;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.7rem;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .collections-animal-more-images {
    padding: 10px;
  }
  .collections-animal-more-images-display {
    margin-top: 2em;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .collections-animal-more-images img {
    width: 100px;
    cursor: pointer;
  }
  .collections-my-collections-active-list td:hover {
    cursor: pointer;
  }
  .collections-my-collections-active-list {
    padding: 10px;
  }
  .collections-my-collections-active-list tr:hover {
    background-color: #cce2f8;
  }
  .collections-create-new-activity {
    padding: 10px;
  }
  .collections-images-image-box {
    width: 200px;
    background-color: #cce2f8;
    border-radius: 7px;
    padding-bottom: 10px;
  }
  .collections-images-image-header {
    text-align: center;
    height: 25px;
    background-color: orange;
    padding: 4px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin: 0 auto 1em;
  }
  .collections-images-imgage-body {
    text-align: center;
  }
  .collections-images-image-body img {
    text-align: center;
  }
  .collections-images-imgage-body-info p {
    font-size: 0.8rem;
    margin: 10px;
  }
  .collections-images-image {
    text-align: center;
    width: 100%;
    height: 50%;
  }
  .collections-images-imgage-footer {
    text-align: center;
  }
}

@media screen and (max-width: 1080px) {
  .collections-tab-header {
    border-color: orange;
  }
  .react-tabs__tab--selected {
    border-color: orange;
  }
  .react-tabs__tab-list {
    border-color: orange;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.7rem;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .collections-animal-more-images {
    padding: 10px;
  }
  .collections-animal-more-images-display {
    margin: 2em auto;
    width: 80%;
    grid-gap: 20px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .collections-animal-more-images img {
    cursor: pointer;
  }
  .collections-my-collections-active-list td:hover {
    cursor: pointer;
  }
  .collections-my-collections-active-list {
    padding: 10px;
  }
  .collections-my-collections-active-list tr:hover {
    background-color: #cce2f8;
  }
  .collections-create-new-activity {
    padding: 10px;
  }
  .collections-images-image-box {
    margin: 2em auto;
    width: 100%;
    background-color: #cce2f8;
    border-radius: 7px;
    padding-bottom: 10px;
  }
  .collections-images-image-header {
    width: 100%;
    text-align: center;
    height: 25px;
    background-color: orange;
    padding: 4px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin: 0 auto 1em;
  }
  .collections-images-imgage-body {
    text-align: center;
  }
  .collections-images-image-body img {
    text-align: center;
  }
  .collections-images-imgage-body-info {
    margin: 1em auto;
    text-align: center;
  }
  .collections-images-imgage-body-info p {
    font-size: 0.8rem;
    margin: 0px;
  }
  .collections-images-image {
    text-align: center;
    width: 100%;
    height: 50%;
  }
  .collections-images-imgage-footer {
    text-align: center;
  }
  .collections-my-collections {
    position: relative;
  }
}
/*# sourceMappingURL=Collections.css.map */