@media screen and (max-width: 1080px) {
	.public-profile-user-pictures {
		//margin: auto;
		// text-align: center;
		margin-top: 1em;
		width: 100%;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto;
	}

	.public-profile-user-pictures img {
		width: 120px;
	}

	.public-profile-user-picture-display-gray-back {
		top: 0;
		left: 0;
		position: absolute;
		z-index: 300;
		width: 100vw;
		height: 100vh;
		//background-color: rgba(0, 0, 0, 0.829);
	}

	.loader {
		z-index: 200;
		position: absolute;
		margin: auto;
		top: 50%;
		left: 50%;
	}

	.public-profile-album-body {
		margin: auto;
	}

	.public-profile-user-albums {
		display: grid;
		// justify-content: space-evenly;
		grid-template-columns: auto auto;
		// grid-column-gap: .5em;
		// grid-row-gap: 1em;
		grid-template-rows: auto;
		text-align: center;
	}

	.public-profile-album-link {
		border-top: 1px solid gray;
		border-right: 1px solid gray;
		border-bottom: 1px solid gray;
		border-left: 1px solid gray;
		font-size: 1.4rem;
	}

	.publick-profile-album-gray-box {
		// margin-top: 1em;
	}

	.public-profile-user-picture-display {
		z-index: 400;
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 10%;
		left: 1px;
	}
	.public-profile-user-picture-display img {
		width: 100%;
	}

	.public-profile-album-box {
		// display: grid;
		// grid-template-columns: 1fr 150px;
		// grid-template-rows: auto;
	}

	.public-profile-album-link:hover {
		color: limegreen;
	}

	.public-profile-album-description {
		display: none;
		font-weight: 500;
		font-size: 0.8em;
		border-right: 1px solid gray;
		border-bottom: 1px solid gray;
		border-left: 1px solid gray;
	}
}

@media screen and (min-width: 1081px) {
	.public-profile-user-pictures {
		//margin: auto;
		text-align: center;
		margin-bottom: 1em;
		max-width: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-column-gap: 10px;
	}

	.public-profile-user-pictures img {
		margin-bottom: 1em;
		max-width: 100px;
	}

	.public-profile-user-picture-display {
		z-index: 400;
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 150px;
		left: 250px;
	}

	.public-profile-user-picture-display-gray-back {
		top: 0;
		left: 0;
		position: absolute;
		z-index: 300;
		width: 100vw;
		height: 100vh;
		// background-color: rgba(0, 0, 0, 0.76);
	}

	.public-profile-user-picture-display img {
		max-height: 600px;
		border-radius: 3px;
	}

	.loader {
		z-index: 200;
		position: absolute;
		margin: auto;
		top: 50%;
		left: 50%;
	}

	.public-profile-album-body {
		margin: auto;
	}

	.public-profile-user-albums {
		display: grid;
		// justify-content: space-evenly;
		grid-template-columns: auto auto auto auto auto;
		grid-column-gap: 0.5em;
		grid-row-gap: 1em;
		grid-template-rows: auto;
		font-weight: bold;
		margin-bottom: 2em;
	}

	.public-profile-album-box {
		padding: 0.3em;
		cursor: pointer;
	}

	.public-profile-album-link {
		border-top: 1px solid gray;
		border-right: 1px solid gray;
		border-bottom: 1px solid gray;
		border-left: 1px solid gray;
	}

	.public-profile-album-link:hover {
		color: limegreen;
	}

	.public-profile-album-description {
		font-weight: 500;
		font-size: 0.8em;
		border-right: 1px solid gray;
		border-bottom: 1px solid gray;
		border-left: 1px solid gray;
	}
}
