@media screen and (max-width: 1080px) {
	.edit-profile-image-drop-box-body {
		color: black;
		grid-area: dropper;
	}

	.IMageDrop-dropbox {
		width: 60%;
		text-align: center;
		margin: auto;
		height: 3em;
		border-radius: 25px;
	}

	.edit-profile-dropbox {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 0.2fr 0.2fr 0.2fr 0.1fr 0.2fr;
		grid-template-areas:
			'opener'
			'name'
			'desc'
			'dropper'
			'button';
	}

	#imagedrop-image-preview {
		padding: 1em;
		//display: flex;
		justify-content: space-evenly;
	}

	#imagedrop-image-preview img {
		width: 100px;
	}

	.edit-profile-image-drop-box-album-info {
		display: flex;
		flex-direction: column;
		// justify-content: space-evenly;
		// margin-bottom: 20px;
	}

	.edit-profile-image-drop-box-name {
		// width: 270px;
		height: 34px;
		margin-bottom: 0.7em;
		grid-area: name;
		font-size: 16px;
	}

	.edit-profile-image-drop-box-description {
		// width: 270px;
		margin-bottom: 0.7em;
		height: 34px;
		grid-area: desc;
		font-size: 16px;
	}

	.edit-profile-image-drop-box-button {
		text-align: center;
		grid-area: button;
	}

	.edit-profile-image-drop-box-dropper {
		width: 60%;
		text-align: center;
		margin: auto;
		height: 3em;
		border-radius: 25px;
		// grid-area: dropper;
	}
}

@media screen and (min-width: 1081px) {
	.ImageDrop-body {
		color: black;
		// padding: 2em;
		height: 101px;
	}

	.edit-profile-dropbox {
		height: auto;
		background-color: #b2d7b9;
	}

	.edit-profile-image-drop-box-dropper {
		width: 40%;
		text-align: center;
		margin: auto;
		height: 100px;
		border-radius: 25px;
		margin-bottom: 1em;
	}

	#imagedrop-image-preview {
		padding: 1em;
		display: flex;
		justify-content: space-evenly;
	}

	#imagedrop-image-preview img {
		width: 100px;
	}

	.edit-profile-image-drop-box-album-info {
		// display: flex;
		// justify-content: space-evenly;
		margin-bottom: 20px;
	}

	.edit-profile-image-drop-box-name {
		width: 370px;
		height: 34px;
	}

	.edit-profile-image-drop-box-description {
		width: 370px;
		height: 34px;
	}

	.edit-profile-image-flex-box {
		display: flex;
		justify-content: space-evenly;
	}
}
