// @media screen and (max-width: 600px){
//     .register_form{
//         margin-top: 15px;
//         width: 100%;
//     }

// }

// #login {
//     text-align: center;
// }

// @media screen and (min-width: 601px){
.register-form {
	margin: 15px auto;
	width: 94%;
	width: 98%;
}
// }
