@import './index';

@import "../node_modules/bootstrap/scss/bootstrap";
.application-body {
	text-align: left;
}


// label {
//     color: rgb(0, 0, 0);
//     margin: 1em auto;
// }

// input {
//     font-size: 1em;
//     border: 1px solid $borderColor;
// }

// select {
//     font-size: 1em;
//     border: 1px solid $borderColor;
// }

// .button {
// 	border-radius: 7px;
// 	width: 80px;
// 	background: $buttonColor;
// 	text-align: center;
// }

// .button:hover {
// 	border: solid $buttonBorder 1px;
// }



@media screen and ($minWidth) {
	.mobile-nav-button {
		display: none;
	}
}
@media screen and ($maxWidth) {
	input {
		font-size: 1em;
		margin-top: 0.3em;
		margin-bottom: 0.8em;
	}
	.mobile-nav-button {
		display: block;
		//   top: 20px;
		//   left: 20px;
		text-align: right;
		//position: relative;
		//   z-index: 50;
		margin: 1em 2em 0;
	}
}
