@import './index';

.application-body {
	text-align: left;
}

.button {
	border-radius: 7px;
	width: 80px;
	background: $buttonColor;
	text-align: center;
}

.button:hover {
	border: solid $buttonBorder 1px;
}

// button {
// 	border-radius: 7px;
// 	width: 80px;
// 	background: $buttonColor;
// 	text-align: center;
// }

// button:hover {
// 	border: solid $buttonBorder 1px;
// }

@media screen and ($minWidth) {
	#nav-button {
		display: none;
	}
}
@media screen and ($maxWidth) {
	#nav-button {
		display: block;
		//   top: 20px;
		//   left: 20px;
		text-align: right;
		//position: relative;
		//   z-index: 50;
		margin: 1em 2em 0;
	}
}
