/*
    Color section to define the colors used in the entire app.
*/
.collection-edit-record-main-panel {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: white;
  color: black;
  border: 1px solid orange;
  padding: 0px;
}

.body-main-header {
  position: relative;
}

@media screen and (min-width: 840px) {
  .classifieds-images-gallery {
    padding: 10px;
    margin-top: 2em;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .classifieds-images-image-box {
    width: 200px;
    background-color: #cce2f8;
    border-radius: 7px;
    padding-bottom: 10px;
  }
  .classifieds-images-image-header {
    text-align: center;
    height: 25px;
    background-color: orange;
    padding: 4px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin: 0 auto 1em;
  }
  .classifieds-images-imgage-body {
    text-align: center;
  }
  .classifieds-images-image-body img {
    text-align: center;
  }
  .classifieds-images-imgage-body-info p {
    font-size: 0.8rem;
    margin: 10px;
  }
  .collections-images-image {
    text-align: center;
    width: 100%;
    height: 50%;
  }
  .collections-images-imgage-footer {
    text-align: center;
  }
}

@media screen and (max-width: 699px) {
  .classifieds-images-gallery {
    width: 100%;
    display: -ms-grid;
    display: grid;
    margin: auto;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .classifieds-images-image-box {
    margin: 2em auto;
    width: 90%;
    background-color: #cce2f8;
    border-radius: 7px;
    padding-bottom: 10px;
  }
  .classifieds-images-image-header {
    width: 100%;
    text-align: center;
    height: 25px;
    background-color: orange;
    padding: 4px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin: 0 auto 1em;
  }
  .classifieds-images-imgage-body {
    text-align: center;
  }
  .classifieds-images-image-body img {
    text-align: center;
  }
  .classifieds-images-imgage-body-info {
    margin: 1em auto;
    text-align: center;
  }
  .classifieds-images-imgage-body-info p {
    font-size: 0.8rem;
    margin: 0px;
  }
  .classifieds-images-image {
    text-align: center;
    width: 100%;
    height: 50%;
  }
  .classifieds-images-imgage-footer {
    text-align: center;
  }
}

@media screen and (min-width: 700px) and (max-width: 839px) {
  .collection-animal-comment {
    width: 200px;
  }
  .collections-create-new-animal {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'new-animal-form' 'new-animal-images' 'footer';
  }
  .collections-create-new-animal-images {
    margin: 3em auto;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: new-animal-images;
  }
  .collections-create-new-animal-form {
    width: 90%;
    margin: auto;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: new-animal-form;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'create-name create-dob' 'create-sire create-dam' '... create-gender' 'category ...' 'sub-category ...';
  }
  .collections-create-new-animal-footer {
    margin: auto 5em 0;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer;
    text-align: right;
    padding-right: 5em;
  }
  .collections-create-new-animal-form input {
    margin: 15px 0;
  }
  .collections-create-new-animal-name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: create-name;
    width: 200px;
  }
  .collections-create-new-animal-dob {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: create-dob;
  }
  .collections-create-new-animal-sire {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: create-sire;
  }
  .collections-create-new-animal-dam {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: create-dam;
  }
  .collections-create-new-animal-gender {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: create-gender;
  }
  .collections-create-new-animal-button {
    grid-area: create-button;
    padding: 8px;
  }
  .collections-create-new-animal-button button {
    width: 80px;
  }
  .collections-create-new-animal-img-drop-dropbox {
    width: 60%;
    padding: 3px;
    border-radius: 10px;
    border: 2px solid orange;
    background-color: #cce2f8;
    margin: auto;
  }
  .img-preview {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto;
  }
  .img-preview img {
    width: 100px;
  }
  .collections-create-new-animal-category {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: category;
    margin-bottom: 8px;
  }
  .collections-create-new-animal-sub-category {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: sub-category;
  }
  .collections-tab-header {
    border-color: orange;
  }
  .react-tabs__tab--selected {
    border-color: orange;
  }
  .react-tabs__tab-list {
    border-color: orange;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.7rem;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .collections-animal-more-images {
    padding: 10px;
  }
  .collections-animal-more-images-display {
    margin: 2em auto;
    width: 80%;
    grid-gap: 20px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .collections-create-new-animal-img-drop-button {
    text-align: right;
    margin-top: 10px;
    padding-right: 134px;
  }
  .collections-animal-more-images img {
    cursor: pointer;
  }
  .collections-my-collections-active-list td:hover {
    cursor: pointer;
  }
  .collections-my-collections-active-list {
    padding: 10px;
  }
  .collections-my-collections-active-list tr:hover {
    background-color: #cce2f8;
  }
  .collections-create-new-activity {
    padding: 10px;
  }
  .collections-images-image-box {
    margin: 2em auto;
    width: 100%;
    background-color: #cce2f8;
    border-radius: 7px;
    padding-bottom: 10px;
  }
  .collections-images-image-header {
    width: 100%;
    text-align: center;
    height: 25px;
    background-color: orange;
    padding: 4px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin: 0 auto 1em;
  }
  .collections-images-imgage-body {
    text-align: center;
  }
  .collections-images-image-body img {
    text-align: center;
  }
  .collections-images-imgage-body-info {
    margin: 1em auto;
    text-align: center;
  }
  .collections-images-imgage-body-info p {
    font-size: 0.8rem;
    margin: 0px;
  }
  .collections-images-image {
    text-align: center;
    width: 100%;
    height: 50%;
  }
  .collections-images-imgage-footer {
    text-align: center;
  }
  .collections-my-collections {
    position: relative;
  }
  .collections-qr-search {
    text-align: right;
    padding-right: 20px;
    margin: auto;
  }
  .collections-qr-search img {
    width: 40px;
  }
}
/*# sourceMappingURL=Gallery.css.map */