@import '../../../index';

@media screen and (min-width: 1081px) {
	.display-larg-image {
		z-index: 1;
		position: fixed;
		top: 2%;
		// left: 0;
		// right: 0;
		// background-color: rgba(0, 0, 0, 0.5);
		// border-top-left-radius: 7px;
		// border-top-right-radius: 7px;
		color: black;
		padding: 0px;
	}

	.display-larg-image img {
		//text-align: center;
		//width: 98%;
	}

	.display-large-inner-display {
		margin: auto;
		text-align: center;
	}

	.display-large-image-attrs {
		display: none;
		z-index: 2;
		position: absolute;
		margin: auto;
		width: 40%;
		background-color: rgba(255, 255, 255, 0.342);
		top: 80%;
		left: 10%;
		padding: 20px;
		text-align: left;
		border-radius: 15px;
	}
}

@media screen and (max-width: 1080px) {
	.display-larg-image {
		z-index: 1;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.5);
		// top: 0;
		// left: 0;
		//padding: 10px;
		width: 100%;
		// height: 100%;
	}

	.display-larg-image img {
		width: 98%;
		text-align: center;
	}

	.display-large-inner-display {
		margin: auto;
		text-align: center;
	}

	.display-large-image-attrs {
		display: none;
		z-index: 150;
		position: fixed;
		margin: auto;
		width: 80%;
		background-color: rgba(255, 255, 255, 0.342);
		top: 80%;
		left: 10%;
		padding: 20px;
		text-align: left;
		border-radius: 15px;
	}
}
